.button {
  background-color: red;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: #1986e1;
  font-size: 1.1rem;
  text-align: start;
}

.project-name__cell {
  max-width: 10rem;
}
